@import url('https://fonts.googleapis.com/css2?family=Poppins:200i,400&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html, textarea {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

body {
    background-image: url('background.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    font-size: 26px;
    font-weight: 200;
}

.overlay {
    height: 100vh;
    width: 100vw;
    background-color: #5449a7b0;
    position: fixed;
    overflow: scroll;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    color: #fff;
    gap: 1em;
}

.form-container>p {
    font-style: italic;
}

.form-container form {
    margin-top: 1.2em;
    background-color: #1c173bb0;
    border-radius: 5px;
    padding: 2em;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}

input[type=radio],
input[type=checkbox] {
    width: initial;
}

input, select, textarea, button {
    margin: 0.8em 0 0.8em 0;
    padding: 0.7em;
    border-radius: 5px;
    width: 100%;
    border: none;
}

button {
    background-color: #27B15B;
    color: #fff;
    font-weight: bold;
}